body{
    background: rgb(165, 165, 165);
}
h1{
    font-size: 2.4em;
    font-family: cursive;
    text-align: center;
}
p{
    font-size: 2.2em;
    font-family: sans-serif;
    margin-top: 50px;
}